<div>Navbar</div>
<div class='container'>
  <div class='row'>
    <div class='column'>
      <div class='wrapper-show'>
        <div class='wrapper-edit-link'>link_to edit</div>
        <div class='wrapper-title'>Title</div>
        <div class='wrapper-image'>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
      <div class='container wrapper'>
        <div><h3>Cocktails</h3></div>
        <div><h3>Ingredients</h3></div>
        <div>Link_to delete ingredients
          <% @cocktail.doses.each do |dose| %>
            <%= link_to doses_delete_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt fa-xs"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <p> </p>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
